@model TheGreatGrape.Web.ViewModels.Carts.ShoppingCartViewModel
<div class="title display-1">
    <span>
        Our cart is broken.
    </span>
    <span>
        We apologize for the inconvenience.
    </span>
    <i class="fas fa-cart-plus">

    </i>
</div>
