@using TheGreatGrape.Common
@model TheGreatGrape.Web.ViewModels.Home.GetAllCategoriesViewModel
@{ this.ViewData["Title"] = "Home Page"; }


<body class="body-home accordion-home">
        <div class="text-center">
            <h1 class="display-2 title-main">Welcome to The Great Grape</h1>
        </div>
    <div class="text-center">
        <h2 class="display-4">Pick your poison</h2>
        <div style="margin-top: 75px;">
            <table style="width:100%">
                <tr class="accordion-home">
                    <td>
                        <h2 class="card-title"><a class="nav-link card-title btn title-red" asp-controller="WInes" asp-action="AllByX" asp-route-searchByInput="2" asp-route-searchBy="Category">RED</a></h2>
                    </td>
                    <td>
                        <h2 class="card-title"><a class="nav-link card-title btn title-white" asp-controller="WInes" asp-action="AllByX" asp-route-searchByInput="1" asp-route-searchBy="Category">WHITE</a></h2>
                    </td>
                    <td>
                        <h2 class="card-title"><a class="nav-link card-title btn title-rose" asp-controller="WInes" asp-action="AllByX" asp-route-searchByInput="3" asp-route-searchBy="Category">ROSÉ</a></h2>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
