@using TheGreatGrape.Common
@model TheGreatGrape.Web.ViewModels.Home.GetAllCategoriesViewModel
@{
    this.ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">The Great Grape</h1>
</div>
